# Ignorar archivos temporales generados por el sistema
*~

# directorios a ignorar
ARCHIVOS_PROPIOS/
BOLETAS/
COMUN/
soporte/
source/
SQL/
LOGICALERP/nomina/documentos_tercero
LOGICALERP/pos/backend/pos_admin/informes/temp
LOGICALERP/pos/backend/temp
LOGICALERP/ventas/facturacion_electronica
#ignorar el archivo de configuracion
configuracion/conexion.php

#ignorar la configuracion para el pos
LOGICALERP/pos/frontend/POS/pos/config.js

LOGICALERP/pos/backend/configuracion/configuration.php
