
	.my_informe_fondo{
		background			:	url(MyInformesFondo.png?v4.2.27012014);
	}
	
	.my_informe_sombra{
		-webkit-box-shadow	: 	1px 1px 5px #333;
		-moz-box-shadow		: 	1px 1px 5px #333;
		box-shadow			: 	1px 1px 5px #333;
	}	
