/*=======================// MODAL UPLOAD FILE //=======================*/
.fondo_modal_upload_file{
	display          : none;
	top              : 0px;
	left             : 0px;
	width            : 100%;
	height           : 100%;
	z-index          : 10000;
	position         : fixed;
	background-color : rgba(0,0,0,0.6);
}

.fondo_modal_upload_file > div{
    position : absolute;
    display  : table;
    height   : 100%;
    width    : 100%;
    top      : 0;
    left     : 0;
}

.fondo_modal_upload_file > div > div{
    display        : table-cell;
    vertical-align : middle;
    width          : 100%;
}

.fondo_modal_upload_file > div > div > div{
    width  : 400px;
    height : 300px;
    margin : 0px auto;
}


#div_upload_file{
    width         : 400px;
    height        : 300px;
    background    : #FFF;
    overflow      : hidden;
    position      : fixed;
    border        : 3px dashed #bcbcbc;
}

#div_upload_file:hover{ border : 3px dashed #9e9e9e; }

#div_upload_file > div{
    font-size: 23px;
    margin-top: 130px;
    text-align: center;
    color: #bcbcbc;
}

.btn_div_upload_file1{
    width            : 26px;
    height           : 26px;
    position         : fixed;
    margin-top       : -10px;
    margin-left      : 390px;
    font-size        : 20px;
    font-weight      : bold;
    text-align       : center;
    background-color : #bcbcbc;
    border-radius    : 12px;
    cursor           : pointer;
}

.btn_div_upload_file2{
    color            : #9e9e9e;
    width            : 22px;
    height           : 22px;
    position         : fixed;
    margin-top       : 6px;
    margin-left      : 375px;
    font-size        : 20px;
    font-weight      : bold;
    text-align       : center;
    background-color : #fff;
    cursor           : pointer;
}

.btn_div_upload_file2:hover{
	color : #32B1D9;
	border: 1px solid #32B1D9;
}

#btn_cancel_doc_upload{
    cursor           : pointer;
    display          : none;
    float            : left;
    margin           : 7px -35px;
    height           : 23px;
    width            : 25px;
    border           : 1px solid;
    border-color     : #c4c4c4 #d1d1d1 #d4d4d4;
    border-radius    : 2px;
    padding-top      : 2px;
    text-align       : center;
    font-weight      : bold;
    font-size        : 23px;
    color            : #32B1D9;
    background-color : #f3f3f3;
}

#div_upload_file > div {  margin: 0px !important;  }
#div_upload_file:before {
    content    : 'Arrastre el documento';
    width      : 100%;
    float      : left;
    font-size  : 23px;
    margin-top : 130px;
    text-align : center;
    color      : #bcbcbc;
}
.fondo_modal_upload_file .qq-uploader { position:relative; width: 100%; height:100%; }
.fondo_modal_upload_file .qq-upload-button { display:block; position:fixed !important; width:100px; height:34px; margin:5px; background-image:url(../../temas/clasico/images/upload/uploading.png); background-size: 100px; }
.fondo_modal_upload_file .qq-upload-button-hover { background-image:url(../../temas/clasico/images/upload/uploading_blue.png) }
.fondo_modal_upload_file .qq-upload-button-focus { }
.fondo_modal_upload_file .qq-upload-drop-area { position:absolute; top:40; left:0; width:100%; height:100%; min-height: 70px; background:none; text-align:center; display:none;  }
.fondo_modal_upload_file .qq-upload-drop-area span {  display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px; }
.fondo_modal_upload_file .qq-upload-drop-area-active { background:#FF0000; opacity: 0.3; filter:alpha(opacity=30); -moz-opacity:0.3; -khtml-opacity: 0.3; }
.fondo_modal_upload_file .qq-upload-list { height:100%; list-style:none; color:#333; text-align:center; }
.fondo_modal_upload_file .qq-upload-list li {  margin:0; padding:0; line-height:15px; font-size:12px; }
.fondo_modal_upload_file .qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {  margin-right: 7px; }
.fondo_modal_upload_file .qq-upload-file {  }

.fondo_modal_upload_file .qq-upload-spinner {
    display             : inline-block;
    background-image    : url("../../temas/clasico/images/upload/loading.gif");
    width               : 400px;
    height              : 400px;
    vertical-align      : text-bottom;
    position            : absolute;
    top                 : 0;
    left                : 0;
    background-repeat   : no-repeat;
    background-position : 100px 50px;
    background-color    : #fff;
}

.fondo_modal_upload_file .qq-upload-size,.qq-upload-cancel { font-size:11px; }
.fondo_modal_upload_file .qq-upload-failed-text { display:none; }
.fondo_modal_upload_file .qq-upload-fail .qq-upload-failed-text { display:inline; }

/*
//////////////////////////////////////////////////////////////////////////////////////////////////
//============================= ESTILOS DE LA GRILLA MANUAL ====================================//
//////////////////////////////////////////////////////////////////////////////////////////////////
*/

#contenedor_formulario{
    overflow   : hidden;
    width      : calc(100% - 100px);
    margin     : 15px;
    margin-top : 0px;
}

/*TOOLBAR DE LA BUSQUEDA DE LA GRILLA MANUAL*/
.toolbar_grilla_manual{
    overflow   : hidden;
    width      : 100%;
    height     : 34px;
    margin-top : 5px;
}
.div_input_busqueda_grilla_manual{
    width                  : 170px;
    background-color       : #FFF;
    height                 : 28px;
    padding-top            : 5px;
    padding                : 5 0 0 6;
    background-color       : #F3F3F3;
    border-top-left-radius : 5;
    border                 : 1px solid #D4D4D4;
    float                  : left;
}

.div_input_busqueda_grilla_manual>input{
    background-image  : url(../../temas/clasico/images/BotonesTabs/buscar16.png);
    background-repeat : no-repeat;
    padding           : 0 0 0 27px;
    border-radius     : 3px;
    font-size         : 12px;
    min-height        : 22px;
    border: 1px solid #D4D4D4;
}

/*.div_input_busqueda_grilla_manual>input:hover,:focus{
    background-color: #FFFFFF;
}*/

.div_img_actualizar_datos_grilla_manual{
    float                   : left;
    width                   : 35px;
    height                  : 40px;
    background-color        : #F3F3F3;
    border-top-right-radius : 5;
    border-top              : 1px solid #D4D4D4;
    border-right            : 1px solid #d4d4d4;
}

.div_img_actualizar_datos_grilla_manual>img{
    padding: 7 0 0 7;
    cursor: pointer;
}

#contenedor_tabla_boletas{
    overflow              : hidden;
    width                 : calc(100% - 2px);
    height                : 480px;
    /*border              : 1px solid #d4d4d4;*/
    border                : 1px solid #D4D4D4   ;
    border-radius         : 4px;
    -webkit-border-radius : 4px;
    -webkit-box-shadow    : 1px 1px 1px #d4d4d4;
    -moz-box-shadow       : 1px 1px 1px #d4d4d4;
    box-shadow            : 1px 1px 1px #d4d4d4;
    background-color      :#F3F3F3;
}

.fila_formulario{
    min-height : 30px;
    margin-top : 5px;
    overflow   : hidden;
}

.divLabelFormulario{
    float : left;
    width : 100px;
}

.divInputFormulario{
    float       : left;
    width       : calc(100% - 100px - 20px - 10px);
    margin-left : 5px;
}

.divInputFormulario input, .divInputFormulario select, .divInputFormulario textarea{
    min-height            : 22px;
    width                 : 100%;
    border                : 0px solid #999;
    -webkit-border-radius : 2px;
    border-radius         : 2px;
    -webkit-box-shadow    : 0px 0px 3px #666;
    -moz-box-shadow       : 1px 1px 3px #999;
    box-shadow            : 1px 1px 3px #999;
}

.loadSaveFormulario{
    overflow : hidden;
    width    : 100%;
    height   : 20px;
}

.divLoadCedula, .divLoadBoleta{
    float : left;
    width : 20px;
}

.headTablaBoletas{
    overflow      : hidden;
    font-weight   : bold;
    width         : 100%;
    border-bottom : 1px solid #d4d4d4;
}

#bodyTablaBoletas{
    overflow-x       : hidden;
    overflow-y       : auto;
    width            : 100%;
    height           : 430px;
    background-color : #FFF;
    border-bottom    : 1px solid #d4d4d4;
}

#bodyTablaBoletas > div{
    overflow      : hidden;
    height        : 22px;
    border-bottom : 1px solid #d4d4d4;
}

#bodyTablaBoletas > div > div { height: 18px; /*background-color : #FFF;*/ padding-top: 4px; }
#bodyTablaBoletas > div:hover {background-color: #E3EBFC;}

.headTablaBoletas div{ background-color:#F3F3F3; }

.filaBoleta{ /*background-color:#F3F3F3;*/ cursor: hand; }

.filaBoleta input[type=text]{
    border:0px;
    width: 90%;
    height: 100%;
}

.filaBoleta input[type=text]:focus { background: #FFF; }

/* --------------       SEPARAR LOS ESTILOS -----------------------*/

#contenedor_formulario_configuracion{
    overflow   : hidden;
    width      : 100%;
    height     : 100%;
    margin     : 0px;
    margin-top : 0px;
}

#contenedor_tabla_configuracion{
    overflow              : hidden;
    width                 : calc(100% - 2px);
    height                : 99%;
    border                : 1px solid #BBB;
    /*border-radius         : 4px;
    -webkit-border-radius : 4px;*/
    -webkit-box-shadow    : 1px 1px 1px #d4d4d4;
    -moz-box-shadow       : 1px 1px 1px #d4d4d4;
    box-shadow            : 1px 1px 1px #d4d4d4;
    background-color      : #F3F3F3;
}

#bodyTablaConfiguracion{
    overflow-x       : hidden;
    overflow-y       : auto;
    width            : 100%;
    height           : calc(100% - 40px);
    background-color : #FFF;
    border-bottom    : 1px solid #d4d4d4;
}

#bodyTablaConfiguracion > div{
    overflow      : hidden;
    height        : 22px;
    border-bottom : 1px solid #d4d4d4;
}

#bodyTablaConfiguracion > div > div { height: 18px;  padding-top: 4px; }

.headTablaBoletas div{
    height      : 22px;
    padding-top : 4px;
    text-align  : left;
    font-weight: bolder;
}

#informeFacturasPorPagar #bodyTablaConfiguracion{ height : 285px; }
#informeBalancePrueba #bodyTablaConfiguracion{ height : 165px; }


#bodyTablaConfiguracionFuncionarios,#bodyTablaConfiguracionTerceros{
    overflow-x       : hidden;
    overflow-y       : auto;
    width            : 100%;
    height           : 285px;
    background-color : #FFF;
    border-bottom    : 1px solid #d4d4d4;
}

#bodyTablaConfiguracionFuncionarios > div,#bodyTablaConfiguracionTerceros > div{
    overflow      : hidden;
    height        : 22px;
    border-bottom : 1px solid #d4d4d4;
}

#bodyTablaConfiguracionFuncionarios > div > div,#bodyTablaConfiguracionTerceros > div > div{ height: 18px;  padding-top: 4px; }


/*==================== ESTILOS GLOBALES ====================*/

.campo0{
    float            : left;
    width            : 28px;
    text-indent      : 5px;
    border-right     : 1px solid #d4d4d4;
    background-color : #F3F3F3;
}

.campo1{
    float         : left;
    width         : 100px;
    text-indent   : 5px;
    border-right  : 1px solid #d4d4d4;
    white-space   : nowrap;
    text-overflow : ellipsis;
    overflow      : hidden;
}

.campo2{
    float         : left;
    width         : 280px;
    text-indent   : 5px;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    border-right  : 1px solid #d4d4d4;
}

.campo3{
    float         : left;
    width         : 100px;
    text-indent   : 5px;
    text-align    : right;
    padding-right : 3px;
    border-right  : 1px solid #d4d4d4;
}

.campo4{
    float        : left;
    width        : 70px;
    text-indent  : 5px;
    text-align   : center;
    border-right : 1px solid #d4d4d4;
}


.labelSimbolo{
    height      : auto;
    overflow    : visible;
    font-weight : bold;
    float       : left;
    width       : 10px;
}

.campoDocCruce{ background-color:#F3F3F3; }
.labelTypeDocCruce, .numeroTypeDocCruce{ float: left; margin-left:5px; padding-top:3px; }

.labelTypeDocCruce{
    color       :blue;
    font-weight :bold;
    width       : 15px;
}
.numeroTypeDocCruce{
    background-image : none;
    background-color : #FFF;
    height           : 20px;
    width            : calc(100% - 31px);
    border-left      : 1px solid #d4d4d4;
    padding-left     : 5px;
}

.labelSimbolo{
    height      : auto;
    overflow    : visible;
    font-weight : bold;
    float       : left;
    width       : 10px;
}

/* CLASE PARA EL ESTILO DE LA PAGINA POR DEFAULT DE LAS DEVOLUCIONES DE COMPRAS Y VENTAS */

.divPaginaDefaultNotasDevolcion{
    width            : 100%;
    height           : calc(100% - 135px);
    font-weight      : bold;
    text-align       : center;
    color            : #FFF;
    background-image : url('../informes/img/MyInformesFondo.png');
    padding-top      : 50px;
    text-shadow      : 1px 1px 1px #333;
    font-size        : 13px;
}

.myFieldGrilla{
    height        : 24px;
    width         : 120px;
    font-size     : 11px;
    border-radius : 2px;
    border        : 1px solid #d4d4d4;
}

.myFieldGrilla:focus {
    border             : 1px solid #99BBE8;
    -webkit-box-shadow : 0px 0px 5px #99BBE8;
    -moz-box-shadow    : 0px 0px 5px #99BBE8;
    box-shadow         : 0px 0px 5px #99BBE8;
}

.div_hover{
    text-align     : left;
    display        : table-cell;
    vertical-align : middle;
    cursor         : pointer;
}

.x-window-body {
	position: relative;
}
