/* ========== ESTILOS PANEL PRINCIPAL PERFIL EMPLEADOS ==========*/
.content{
	width            : 100%;
	height           : 100%;
	background-color : #FFF;
	overflow         : auto;
}

.employeer-content{

}

.content-tab{
	float            : left;
	width            : 100%;
	height           : 33px;
	overflow         : visible;
	border-bottom    : 1px solid #2A80B9;
	background-color : #2A80B9;
}

.content-tab > div{
	font-weight      : bolder;
	text-align       : left;
	display          : block;
	float            : left;
	color            : #FFFFFF;
	padding          : 7.5px;
	border           : 1px solid #2A80B9;
	border-left      : none;
	cursor           : pointer;
	margin-top       : 3px;
	background-color : #80C3EF;
	font-size        : 12px;
	box-sizing       : border-box;
	font-family      : arial,sans-serif;
}

.content-tab-content{
	float   : left;
	width   : 100%;
	height  : calc(100% - 40px - 44px);
	overflow: auto;
}

.tab-content{
	width    : 100%;
	height   : 100%;
	overflow : auto;
	display  : none;
}

.separator{
	text-align       : left;
	font-size        : 18px !important;
	color            : #FFF;
	margin           : 0 !important;
	padding          : 10px 20px !important;
	background-color : #2A80B9;
}

.separator-body{
	text-align       : left;
	color            : #FFF;
	float            : left;
	width            : calc(100% - 30px);
	margin-top       : 20px;
	margin-bottom    : 10px;
	font-size        : 15px;
	padding          : 8px;
	background-color : #2E3641;
}

.close{
	float             : right;
	height            : 32px;
	width             : 32px;
	margin-top        : -6px;
	margin-right      : -15px;
	background-image  : url('../../personal/images/close.png');
	background-repeat : no-repeat;
	background-size   : contain;
	cursor            : pointer;
}

/*============ ESTILO DE LOS FORMULARIOS ===========*/

.table-form{
	font-family : arial,sans-serif;
	margin-top  : 20px;
	font-size   : 12px;
	float       : left;
	margin-left : 10px;
	/*width       : 400px;*/
}

.table-form .thead{
	background-color : #2A80B9;
	color            : #fff;
}

.table-form .thead td{
	padding   : 5px;
	font-size : 14px;
}

.table-form td{
	padding: 2px 2px 2px 15px;
}

.table-form input, .table-form textarea, .table-form select{
	line-height      : 1.42857143;
	color            : #555;
	background-color : #fff;
	border           : 1px solid #ccc;
	height           : 30px;
	width            : 200px;
	padding-left     : 5px;
}

.table-form textarea{
	height: 50px;
}

.table-form input[data-requiere="true"], select[data-requiere="true"]{
	background-color:#FFE0E0;
}

.buttom-content{
	width         : 96%;
	border-bottom : 1px solid;
	margin-left   : 15px;
}

.button{
	cursor                : pointer;
	background            : none;
	border                : none;
	width                 : 53px;
	height                : 64px;
	padding-top           : 46px;
	background-repeat     : no-repeat;
	color                 : #757575;
	font-size             : 12px;
	text-align            : center;
	background-position-x : center;
	margin                : 10px;
}

.button:hover{
	opacity: 0.5;
}

.button[data-value="save"]{
	background-image: url('../../personal/images/save.png');
}

.button[data-value="save_white"]{
	background-image: url('../../personal/images/save_blanco.png');
}

.button[data-value="delete"]{
	background-image: url('../../personal/images/delete_grilla.png');
}

.button[data-value="new"]{
	background-image: url('../../personal/images/agregar.png');
}

.button[data-value="edit"]{
	background-image: url('../img/editar.png');
}

.button[data-value="cancel"]{
	background-image: url('../img/cancelar.png');
}

.button[data-value="restore"]{
	background-image: url('../img/restaurar.png');
}

.button[data-value="excel"]{
	background-image: url('../img/excel_deterioro.png');
}

.button[data-value="load"]{
	background-image: url('../img/load.png');
	background-position-x: 50%;
	background-position-y: 22%;
}

/*======== ESTILO DE LA GRILLA MANUAL ==========*/
.table-grilla{
	font-family     : arial,sans-serif;
	margin-top      : 20px;
	font-size       : 12px;
	float           : left;
	margin-left     : 10px;
	width           : 95%;
	border-collapse : collapse;
}

.table-grilla td{
	border  : 1px solid #2A80B9;
}

.table-grilla thead,.table-grilla .thead{
	background-color : #2A80B9;
	color            : #fff;
}

.table-grilla .thead div{
	min-width: 70px;
}

.table-grilla .thead img{
	float: left;
	width: 24px;
	padding: 3px;
}

/*.table-grilla tbody tr:hover.thead{
	background-color: #C8E2F2 !important;
}*/

.table-grilla thead td{
	padding     : 5px;
	font-size   : 14px;
	white-space : nowrap;
}


.table-grilla tbody td{
	padding : 0px;
	cursor  : pointer;
}

.table-grilla tbody td > div{
	padding: 5px;
}

.deterioro_cliente_label{
	width         : 300px;
	overflow      : hidden;
	white-space   : nowrap;
	text-overflow : ellipsis;
}

.fecha_label{
	width: 90px;
}

.table-grilla tbody tr:hover td{
	background-color : #A8D1EA !important;
}

.table-grilla input[type="text"], .table-form textarea{
	line-height      : 1.42857143;
	color            : #555;
	background-color : #fff;
	border           : none;
	height           : 100% !important;
	width            : 100% !important;
	padding-left     : 5px;
}

.content-documentos{
	float    : left;
	width    : calc(100% - 8px);
	height   : calc(100% - 170px - 65px - 20px);
	overflow : auto;
}
.infoDocumento{
	float       : right;
	font-weight : bold;
	text-align  : center;
	color       : #2A80B9;
	font-size   : 18px;
	padding-top : 15px;
}